---
layout: page
title: Fale comigo
permalink: /contato/
tags: contact
---

<div class="py2">
  {% if site.ajaxify_contact_form %}
    <form class="form-stacked">
      <label>
        Seu e-mail
        <input type="text" name="email" class="field-light" placeholder="{{ site.text.contact.email }}">
      </label>

      <label>
        Conteúdo
        <textarea type="text" name="content" class="field-light" rows="5" placeholder="{{ site.text.contact.content }}" style="resize: vertical"></textarea>
      </label>

      <input type="text" name="_gotcha" style="display:none" />

      <button type='submit' class="button button-blue button-big mobile-block">Enviar mensagem</button>
    </form>
  {% else %}
    <form action="https://formspree.io/{{ site.email }}" method="POST" class="form-stacked">
      <label>
        Seu e-mail
        <input type="text" name="email" class="field-light" placeholder="Diga qual o seu e-mail">
      </label>
      <label>
        Mensagem
        <textarea type="text" name="content" class="field-light" rows="5" placeholder="Deixe uma mensagem" style="resize: vertical"></textarea>
      </label>

      <input type="hidden" name="_next" value="{{ site.baseurl }}/obrigado/" />
      <input type="hidden" name="_subject" value="{{ site.text.contact.subject }}" />
      <input type="text" name="_gotcha" style="display:none" />

      <input type="submit" class="button button-blue button-big mobile-block" value="Enviar mensagem">
    </form>
  {% endif %}
</div>

{% if site.ajaxify_contact_form %}
  {% include ajaxify_content_form.html %}
{% endif %}
